@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-gray-900 text-white antialiased;
  touch-action: manipulation;
}

input, select, textarea {
  @apply bg-gray-800 border-gray-700 text-white;
}

input:focus, select:focus, textarea:focus {
  @apply ring-2 ring-blue-500 border-transparent outline-none;
}
